@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  width: 299px;
  margin: 0 auto;
  border: 1px solid black;
  height: 300px;
  flex-wrap: wrap;
}

.row-container {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  border: 1px solid black;
  flex: 1;
  height: 100px;
}

.cell:hover {
  background-color: black;
  color: white;
}

.player-container {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

.x-mark,
.o-mark {
  width: 125px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.player-container::after {
  content: "Start game or select player";
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  color: #666;
}
